.page-home__container{
  /deep/.container--wrap{
    height: 100%;
  }
  /deep/.container--body{
    height: 100%;
  }
  .nickname-tit {
    cursor: pointer;
    &:hover {
      color: #3E6BFE;
    }
  }
  // 显示模块：达人发现、素材查找、热销商品、实时直播
  // 变量定义
  $wd: 58px; // 宽度
  $hd: 54px; // 高度
  $ptb: 46px; // 上下距离
  // 显示模块
  .home-show {
    display: flex;
    &__module {
      flex: 1;
      background: #fff;
      padding-top: $ptb;
      padding-bottom: $ptb;
      border-radius: 4px;
      margin-right: 20px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      &-pic {
        width: $wd;
        height: $hd;
        margin-right: 10px;
      }
      &-picsrc {
        width: $wd;
        height: $hd;
        background-size: $wd $hd;
      }
      &-tit {
        span:nth-of-type(1){
          font-size: 18px;
          color: #333;
          display: inline-block;
          margin-bottom: 6px;
        }
        span:nth-of-type(2){
          font-size: 15px;
          color: #999;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  // 中间模块
  $mht: 50px;
  .home-mid {
    display: flex;
    margin-top: 10px;
    .talent-block {
      flex: 1;
      background: #fff;
      border-radius: 4px;
      .nodata {
        height: 400px;
        display:flex;
        justify-content:center;  //子元素水平居中  
        align-items:center;  //子元素垂直居中  
        color:#909399;
        font-size:14px;
      }
      .tit-set {
        height: $mht;
        line-height: $mht;
        padding: 0 20px;
        &__name {
          color: #333;
          font-weight: normal;
          margin: 0;
          float: left;
          font-size: 16px;
        }
        &__more {
          color: #999;
          float: right;
          text-decoration: none;
          font-size: 14px;
          &:hover {
            color: #3E6BFE;
          }
        }
      }
    }
    &__talent {
      margin-right: 10px;
    }
    &__video {
      margin-left: 10px;
    }
  }

  // 我的达人
  .talent-detail {
    height: 400px;
    &__main {
      display: flex;
      padding: 20px 14px;
      height: 57px;
      background: #fff;
      .head-list {
        width: 40%;
        display: flex;
        &__pic {
          width: 68px;
          height: 68px;
          margin-right: 10px;
          &-picsrc {
            width: 58px;
            height: 58px;
            background-size:58px 58px;
            border-radius: 50%;
            border: 3px solid #FFFFFF;
            box-shadow: 0px 2px 5px #E4EAFC;
          }
        }
        &__tit {
          &-name {
            @include ellipsis(1);
            color: #333;
            cursor: pointer;
            &:hover {
              color: #3E6BFE;
            }
          }
          span:nth-of-type(1) {
            font-size: 18px;
            margin-bottom: 7px;
            margin-top: 7px;
          }
          &-tyh {
            color: #999;
          }
          span:nth-of-type(2) {
            font-size: 14px;
          }
        }
      }
      
    }
    &__main:hover {
      background-color:#FFF9FA;
    }
  
    &__detail {
      width: 60%;
      display: flex;
      &-fans {
        width: 100%;
        display: flex;
        position: relative;
        p{
          flex: 1;
          display: flex;
          position: relative;
          font-size: 14px;
          margin: 0px;
          margin-top: 32px;
          .talent-pic {
            margin: 4px auto 8px;
          }
          img {
            width: 16px;
            height: 15px;
            background-size: 16px 15px;
            display: block;
            margin: 2px auto 10px;
          }
          span{
            flex: 1;
          }
          span:nth-of-type(1) {
            color: #333;
            font-family: "AGENCYB";
            font-size: 18px;
            text-align: right;
            word-break: keep-all;
          }
          span:nth-of-type(2){
            font-size: 14px;
            text-align: left;
            padding-top: 3px;
          }
          
        }
        p:last-child{
          margin-right: 0;
        }
        
        .pic-set {
          &::before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            left: 50%;
            margin-left: -9px;
            top: -24px;
          }
        }
        .pic-person {
          &::before {
            background: url(./images/pic-talent.png) no-repeat;
            background-size: 18px 18px;
          }
        }
        .pic-heart {
          &::before {
            background: url(./images/pic-heart.png) no-repeat;
            background-size: 18px 18px;
          }
        }
        .pic-yg {
          text-align: center;
          &::before {
            background: url(./images/pic-yg.png) no-repeat;
            background-size: 18px 18px;
          }
        }  
      }
    }
  
  }

  // 达人视频模块
.video-detail {
  padding: 10px 14px;
  &__main{
    display: flex;
    &-pic {
      width: 25%;
      height: 340px;
      background: rgba(51, 51, 51, 0.74);
      border-radius: 18px; 
      margin-right: 25px;
      position: relative;
      &--set {
        height: 314px;
        background: #333;
        display: block;
        margin: 14px 3px 12px;
        overflow: hidden;
      }
      &:last-child{
        margin-right: 0;
      }
      p{
        margin: 0;
        position: absolute;
        top: 50%;
        font-size: 13px;
        color: #fff;
        width: 50px;
        text-align: center;
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 15px;
          top: -18px;
          left: 50%;
          margin-left: -8px;
        }
      }
      p:nth-of-type(1){
        right: 6px;
        margin-top: -10px;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
        &::before {
          background: url("images/dz-cion.png") no-repeat;
          background-size: 16px 15px;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
        }
      }
      p:nth-of-type(2){
        right: 6px;
        margin-top: 34px;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
        &::before {
          background: url("images/talk-cion.png") no-repeat;
          background-size: 16px 15px;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
        }
      }
      p:nth-of-type(3){
        right: 6px;
        margin-top: 78px;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
        &::before {
          background: url("images/share-cion.png") no-repeat;
          background-size: 16px 15px;
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.08);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    &-datetime {
      font-size: 13px;
      color: #C1C1C1;
      position: absolute;
      bottom: -30px;
      width: 100%;
      left: 0px;
      right: 0px;
      text-align: center;
    } 
  }
}

// 达人推荐模块
.home-bt {
  background: #fff;
  margin-top: 14px;
  border-radius: 4px;
  padding: 0 14px;
  padding-bottom: 20px;
  .nodata {
    height: 194px;
    display:flex;
    justify-content:center;  //子元素水平居中  
    align-items:center;  //子元素垂直居中  
    color:#909399;
    font-size:14px;
  }
  .tit-set {
    height: $mht;
    line-height: $mht;
    padding: 0 14px;
    &__name {
      font-size: 16px;
      font-weight: normal;
      margin: 0;
      float: left;
      color: #333;
    }
    &__more {
      font-size: 12px;
    }
  }
}
// 达人推荐详情
.recom-detail {
  // display: flex;
  padding-bottom: 20px;
  &__main {
    display: flex;
    width: 100%;
    &-block {
      flex: 1;
      border: 1px solid #CCC;
      border-radius: 12px;
      margin-right: 14px;
      padding: 14px;
      padding-bottom: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-top {
      display: flex;
    }
    &-left {
      flex: 1;
      .tit-name {
        font-size: 18px;
        color: #333;
        margin: 0;
        margin-bottom: 10px;
        position: relative;
      }
      .el-tag-set {
        font-size: 14px;
      }

    }
    &-right {
      width: 30%;
      text-align: right;
      img {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        border: 3px solid #FFFFFF;
        box-shadow: 0px 2px 5px #E4EAFC;
        background-size: 58px 58px;
      }
    }
    &-bt {
      display: flex;
      margin-top: 10px
    }
    &-fans {
      flex: 1;
      text-align: center;
      font-size: 14px;
      color: #999;
      margin-right: 10px;
      white-space: nowrap;
      &--number {
        display: flex;
        text-align: center;
        white-space: nowrap;
        span:nth-of-type(1){
          flex: 1;
          text-align: right;
          font-size: 18px;
          font-family: "AGENCYB";
          color: #555;
        }
        span:nth-of-type(2){
          flex: 1;
          text-align: left;
          font-size: 14px;
          padding-top: 3px;
        }

        span.number-set {
          text-align: center;
        }
      }
    }
    &-fans:nth-child(3){
      margin-right: 0;
    }
  }
}



///////////////////////////////    /////////////////////////////////////////////////////
// 1680px 处理
@mixin homeshow-smb() {
  // 变量定义
  $ptb: 36px; // 上下距离
  // 显示模块
  .home-show {
    display: flex;
    &__module {
      flex: 1;
      background: #fff;
      padding-top: $ptb;
      padding-bottom: $ptb;
    }
  }
   // 达人视频模块
.video-detail {
  &__main{
    &-pic {
      height: 320px;
      margin-right: 13px;
      &--set {
        height: 290px;
      }
    }
    &-datetime {
      font-size: 12px;
      bottom: -30px;
    } 
  }
}
}

// 引入media-queries.scss 
// 1600px处理
// 1440px处理
@mixin homeshow-sm() {
  
  // 变量定义
  $wd: 38px; // 宽度
  $hd: 35px; // 高度
  $ptb: 30px; // 上下距离
  // 显示模块
  .home-show {
    &__module {
      padding-top: $ptb;
      padding-bottom: $ptb;
      margin-right: 14px;
      &-pic {
        width: $wd;
        height: $hd;
        margin-right: 8px;
      }
      &-picsrc {
        width: $wd;
        height: $hd;
        background-size: $wd $hd;
      }
      &-tit {
        span:nth-of-type(1){
          font-size: 16px;
          margin-bottom: 4px;
        }
        span:nth-of-type(2){
          font-size: 14px;
        }
      }
    }
  }

  // 中间模块
  $mht: 38px;
  .home-mid {
    margin-top: 14px;
    .talent-block {
      padding-bottom: 8px;
      .nodata {
        height: 320px;
        font-size:14px;
      }
      .tit-set {
        height: $mht;
        line-height: $mht;
        padding: 0 14px;
        &__name {
          font-size: 14px;
        }
        &__more {
          font-size: 12px;
        }
      }
    }
    &__talent {
      margin-right: 7px;
    }
    &__video {
      margin-left: 7px;
    }
  }
  // 我的达人
  .talent-detail {
    height: 320px;
    &__main {
      padding: 10px 14px;
      height: 60px;
      background: #fff;
      .head-list {
        width: 40%;
        &__pic {
          width: 58px;
          height: 58px;
          margin-right: 10px;
          &-picsrc {
            width: 48px;
            height: 48px;
            background-size:48px 48px;
          }
        }
        &__tit {
          &-name {
            color: #333;
          }
          span:nth-of-type(1) {
            font-size: 16px;
            margin-bottom: 7px;
            margin-top: 7px;
            cursor: pointer;
            &:hover {
              color: #3E6BFE;
            }
          }
          &-tyh {
            color: #999;
          }
          span:nth-of-type(2) {
            font-size: 12px;
          }
        }
      }
      
    }
    &__main:hover {
      background-color:#FFF9FA;
    }
    &__detail {
      width: 60%;
      &-fans {
        width: 100%;
        p{
          font-size: 14px;
          margin: 0px;
          margin-top: 32px; 
          margin-right: 10px;
          .talent-pic {
            margin: 4px auto 8px;
          }
          img {
            width: 16px;
            height: 15px;
            background-size: 16px 15px;
            display: block;
            margin: 2px auto 10px;
          }
          span{
            flex: 1;
          }
          span:nth-of-type(1) {
            font-size: 14px;
          }
          span:nth-of-type(2){
            font-size: 12px;
            padding-top: 2px;
          }
        }
        
        .pic-set {
          &::before {
            content: '';
            width: 16px;
            height: 15px;
            margin-left: -8px;
            top: -22px;
          }
        }
        .pic-person {
          &::before {
            background: url(./images/pic-talent.png) no-repeat;
            background-size: 16px 16px;
          }
        }
        .pic-heart {
          &::before {
            background: url(./images/pic-heart.png) no-repeat;
            background-size: 16px 16px;
          }
        }
        .pic-yg {
          text-align: center;
          &::before {
            background: url(./images/pic-yg.png) no-repeat;
            background-size: 16px 16px;
          }
        }  
      }
    }
  
  }

  // 达人视频模块
.video-detail {
  padding: 6px 14px 4px;
  &__main{
    display: flex;
    &-pic {
      height: 277px;
      margin-right: 13px;
      &--set {
        height: 228px;
        // display: block;
        margin: 25px 3px 24px;
        // overflow: hidden;
      }
      p{
        font-size: 12px;
        &::before {
          position: absolute;
          content: "";
        }
      }
    }
    &-datetime {
      font-size: 12px;
      bottom: -30px;
    } 
  }
}

// 达人推荐模块
.home-bt {
  margin-top: 12px;
  border-radius: 4px;
  padding: 0;
  .tit-set {
    height: $mht;
    line-height: $mht;
    padding: 0 14px;
    &__name {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      float: left;
      color: #333;
    }
    &__more {
      font-size: 12px;
    }
  }
}
// 达人推荐详情
.recom-detail {
  margin-left: 14px;
  margin-right: 14px;
  height: 145px;
  &__main {
    &-block {
      border: 1px solid #CCC;
      border-radius: 12px;
      margin-right: 14px;
      padding: 14px;
      padding-bottom: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-left {
      flex: 1;
      .tit-name {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
        position: relative;
      }
    }
    &-right {
      width: 30%;
      img {
        width: 48px;
        height: 48px;
        border: 3px solid #FFFFFF;
        box-shadow: 0px 2px 5px #E4EAFC;
        background-size: 48px 48px;
      }
    }
    &-bt {
      margin-top: 3px;
    }
    &-fans {
      font-size: 12px;
      color: #999;
      margin-right: 20px;
      &--number {
        span:nth-of-type(1){
          font-size: 14px;
          font-family: "AGENCYB";
          color: #555;
          word-break: keep-all;
        }
        span:nth-of-type(2){
          font-size: 12px;
          padding-top: 2px;
        }
        span.number-set {
          text-align: center;
        }
      }
    }
    &-fans:nth-child(3){
      margin-right: 0;
    }
  }
}
}

// 1366px处理
@mixin homeshow-sms() {
  // 变量定义
  $wd: 35px; // 宽度
  $hd: 32px; // 高度
  $ptb: 20px; // 上下距离
  // 显示模块
  .home-show {
    &__module {
      padding-top: $ptb;
      padding-bottom: $ptb;
      margin-right: 14px;
      &-pic {
        width: $wd;
        height: $hd;
        margin-right: 8px;
      }
      &-picsrc {
        width: $wd;
        height: $hd;
        background-size: $wd $hd;
      }
      &-tit {
        span:nth-of-type(1){
          font-size: 14px;
          margin-bottom: 4px;
        }
        span:nth-of-type(2){
          font-size: 12px;
        }
      }
    }
  }

  // 中间模块
  $mht: 34px;
  .home-mid {
    margin-top: 10px;
    .talent-block {
      padding-bottom: 0px;
      .nodata {
        height: 240px;
        font-size:12px;
      }
      .tit-set {
        height: $mht;
        line-height: $mht;
        padding: 0 14px;
        &__name {
          font-size: 13px;
        }
        &__more {
          font-size: 12px;
        }
      }
    }
    &__talent {
      margin-right: 7px;
    }
    &__video {
      margin-left: 7px;
    }
  }
  
  .talent-detail {
    height: 256px;
    
    &__main {
      padding: 6px 12px;
      height: 52px;
      background: #fff;
      .head-list {
        width: 40%;
        &__pic {
          width: 54px;
          height: 54px;
          margin-right: 8px;
          &-picsrc {
            width: 42px;
            height: 42px;
            background-size:42px 42px;
          }
        }
        &__tit {
          &-name {
            color: #333;
          }
          span:nth-of-type(1) {
            font-size: 13px;
            margin-bottom: 7px;
            margin-top: 7px;
            cursor: pointer;
            &:hover {
              color: #3E6BFE;
            }
          }
          &-tyh {
            color: #999;
          }
          span:nth-of-type(2) {
            font-size: 12px;
          }
        }
      }
      
    }
    &__main:hover {
      background-color:#FFF9FA;
    }
    &__detail {
      width: 60%;
      &-fans {
        width: 100%;
        p{
          font-size: 14px;
          margin: 0px;
          margin-top: 32px;
          margin-right: 10px;
          .talent-pic {
            margin: 4px auto 8px;
          }
          img {
            width: 15px;
            height: 14px;
            background-size: 15px 14px;
            display: block;
            margin: 2px auto 10px;
          }
          span{
            flex: 1;
          }
          span:nth-of-type(1) {
            color: #333;
            font-size: 13px;
          }
          span:nth-of-type(2){
            font-size: 12px;
            padding-top: 2px;
          }
        }
        
        .pic-set {
          &::before {
            content: '';
            margin-left: -8px;
            top: -22px;
          }
        }
        .pic-person {
          &::before {
            background: url(./images/pic-talent.png) no-repeat;
            background-size: 14px 14px;
          }
        }
        .pic-heart {
          &::before {
            background: url(./images/pic-heart.png) no-repeat;
            background-size: 14px 14px;
          }
        }
        .pic-yg {
          text-align: center;
          &::before {
            background: url(./images/pic-yg.png) no-repeat;
            background-size: 14px 14px;
          }
        }  
      }
    }
  
  }

  // 达人视频模块
.video-detail {
  padding: 6px 14px 8px;
  height: 248px;
  &__main{
    display: flex;
    &-pic {
      height: 227px;
      margin-right: 10px;
      &--set {
        height: 190px;
        display: block;
        margin: 20px 3px 18px;
        overflow: hidden;

      }
      p{
        margin: 0;
        position: absolute;
        top: 50%;
        font-size: 12px;
        color: #fff;
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 15px;
          top: -18px;
          right: 6px;
        }
      }
    }
    &-datetime {
      font-size: 12px;
      bottom: -22px;
    } 
  }
}

// 达人推荐模块
.home-bt {
  margin-top: 10px;
  border-radius: 4px;
  padding: 0;
  .tit-set {
    height: $mht;
    line-height: $mht;
    padding: 0 14px;
    &__name {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      float: left;
      color: #333;
    }
    &__more {
      font-size: 12px;
    }
  }
}
// 达人推荐详情
.recom-detail {
  margin-left: 14px;
  margin-right: 14px;
  padding-bottom: 10px;
  // height: 124px;
  overflow: hidden;
  &__main {
    &-block {
      border: 1px solid #CCC;
      border-radius: 12px;
      margin-right: 14px;
      padding: 10px;
      padding-bottom: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-left {
      flex: 1;
      .tit-name {
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
        position: relative;
      }
    }
    &-right {
      width: 30%;
      img {
        width: 42px;
        height: 42px;
        border: 3px solid #FFFFFF;
        box-shadow: 0px 2px 5px #E4EAFC;
        background-size: 42px 42px;
      }
    }
    &-bt {
      margin-top: 0px;
    }
    &-fans {
      font-size: 12px;
      color: #999;
      margin-right: 16px;
      &--number {
        span:nth-of-type(1){
          font-size: 14px;
          font-family: "AGENCYB";
          color: #555;
          word-break: keep-all;
        }
        span:nth-of-type(2){
          font-size: 12px;
          padding-top: 2px;
        }
        span.number-set {
          text-align: center;
        }
      }
    }
    &-fans:nth-child(3){
      margin-right: 0;
    }
  }
}
}

// 响应式范围值
// 1680px
@media only screen and (max-width: 1680px) {
  @include homeshow-smb();
}  
// 1600px
@media only screen and (max-width: 1600px) {
  @include homeshow-sm();
}  
// 1366px
@media only screen and (max-width: 1366px) {
  @include homeshow-sms();
} 


}